
.content{
  text-align: center;
  margin-top: 10px;
  background-color: gray;

}
.content h2{
  font-size: 36px;
  font-family: sans-serif;
  border: 2px auto;
}
.data{
  background-color:white;
  
  width:800px;
  margin: auto;
  margin-top: 12px;

}
form{
  padding:10px;
}
.age{
  margin-left: 95px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius:30px;

}
.chol{
  margin-left: 70px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;

}
.bps{
  margin-left: 105px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;
}

.sex{
  margin-left: 70px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;


}


.thal{
  margin-left: 30px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;

}
.fps{
 margin-left: 115px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;


}
.x{
  margin-left: 138px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;
}
.y{
 margin-left: 95px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;


}
.r{
  margin-left: 85px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;

}
.h{
  margin-left: 70px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;

}




.d{
  margin-left: 110px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;

}
.e{
  margin-left: 45px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;
}

.f{
  margin-left: 70px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;
}
.g{
 margin-left: 30px;
  font-family: sans-serif;
  font-weight: 700px;
  font-size: 24px;
  border-radius: 30px;
}


.sub{
  margin-left: 278px;
  margin-top: 10px;
}





.agelabel{
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.cl{
 font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.bl{
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
}



.dl{
 font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
 .el{
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
}

 .fl{
 font-family: sans-serif;
  font-size: 16px;
  position: relative;
   }
.gl{
  ffont-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.hl{
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.il{
 font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.jl{
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.kl{
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.ll{
 font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.ml{
 font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.nl{
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
}




















