.fileup{
  
  
  
  

}
.file{
  padding: 30px;
  margin-left: 230px;
}

.image{
  font-weight: 700px;
  font-family: sans-serif;
  font-size: 20px;
margin-bottom: 16px;

  
}
.sub{
  font-weight: 700px;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 90px;


}
